<div class="navbar">
  <div class="nav-title">Good Food</div>
  <div class="search-container">
    <form class="searchbar">
      <input
        (keydown.enter)="searchRoute(search.value)"
        type="text"
        class="search"
        placeholder="What recipe are you looking for?"
        #search
      />
      <button
        type="button"
        class="search-button"
        (click)="searchRoute(search.value)"
      >
        <img src="/assets/svg/search-svgrepo-com.svg" />
      </button>
    </form>
  </div>
</div>
