.new-recipe {
  margin: 40px auto;
  width: 1000px;
  border: 2px solid brown;
  border-radius: 10px;
}

header {
  text-align: center;
}

label {
  display: block;
}

div {
  display: grid;
  justify-content: center;
  margin-block: 10px;
}
