<form class="new-recipe" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <header><h2>Add New Recipe</h2></header>
  <section>
    <div>
      <label for="recipe-name">Name</label>
      <input type="text" name="recipe-name" formControlName="recipeName" />
      @if(recipeForm.get('recipeName')!.invalid &&
      recipeForm.get('recipeName')?.dirty ||
      recipeForm.get('recipeName')?.touched ){
      <div class="warning">
        @if(recipeForm.get('recipeName')?.errors?.['required']){
        <small class="text-danger">Recipe name required!</small>
        } @if (recipeForm.get('recipeName')?.errors?.['minlength']) {
        <small class="text-danger">Minimal length is 3 characters!</small>
        } @if (recipeForm.get('recipeName')?.errors?.['maxlength']) {
        <small class="text-danger">Maximum length is 100 characters!</small>
        }
      </div>
      }
    </div>
    <div>
      <label for="recipe-img">Picture(URL)</label>
      <input type="text" name="recipe-img" formControlName="recipeImg" />
    </div>
    <div class="time">
      <label for="recipe-prep">Prep Time</label>
      <label for="recipe-cook">Cooking Time</label>
      <label for="recipe-serv">Serving Size</label>
      <input type="number" name="recipe-prep" formControlName="recipePrep" />
      <input type="number" name="recipe-cook" formControlName="recipeCook" />
      <input type="number" name="recipe-serv" formControlName="recipeServ" />
    </div>

    <div>
      <label for="recipe-diff">Difficulty</label>
      <input type="text" name="recipe-diff" formControlName="recipeDiff" />
    </div>

    <div class="dia">
      <label for="recipe-kcal">Kcal</label>
      <label for="recipe-fat">Fat</label>
      <label for="recipe-carbs">Carbs</label>
      <label for="recipe-fiber">Fiber</label>
      <label for="recipe-protein">Protein</label>
      <input type="number" name="recipe-kcal" formControlName="recipeKcal" />
      <input type="number" name="recipe-fat" formControlName="recipeFat" />
      <input type="number" name="recipe-carbs" formControlName="recipeCarbs" />
      <input type="number" name="recipe-fiber" formControlName="recipeFiber" />
      <input
        type="number"
        name="recipe-protein"
        formControlName="recipeProtein"
      />
    </div>

    <div>
      <label for="recipe-desc">Short Description</label>
      <textarea
        type="text"
        name="recipe-desc"
        formControlName="recipeDesc"
      ></textarea>
    </div>

    <div>
      <label for="recipe-ing">Ingredients</label>
      <textarea type="text" name="recipe-ing" formControlName="recipeIng">
      </textarea>
    </div>
    <div>
      <label for="recipe-steps">Steps</label>
      <textarea
        rows="2"
        type="text"
        name="recipe-steps"
        formControlName="recipeSteps"
      ></textarea>
    </div>
  </section>
  <div>
    <button [disabled]="recipeForm.invalid" type="submit">Submit</button>
  </div>
</form>
