<form class="new-recipe" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <header><h2>Add New Recipe</h2></header>
  <section>
    <div>
      <label for="recipe-name">Name</label>
      <input type="text" name="recipe-name" formControlName="recipeName" />
    </div>
    <div>
      <label for="recipe-img">Picture</label>
      <input type="text" name="recipe-img" formControlName="recipeImg" />
    </div>
    <div>
      <label for="recipe-prep">Prep Time</label>
      <input type="number" name="recipe-prep" formControlName="recipePrep" />
      <label for="recipe-cook">Cooking Time</label>
      <input type="number" name="recipe-cook" formControlName="recipeCook" />
      <label for="recipe-diff">Difficulty</label>
      <input type="text" name="recipe-diff" formControlName="recipeDiff" />
      <label for="recipe-serv">Serving Size</label>
      <input type="number" name="recipe-serv" formControlName="recipeServ" />
    </div>

    <div>
      <label for="recipe-kcal">Kcal</label>
      <input type="number" name="recipe-kcal" formControlName="recipeKcal" />
      <label for="recipe-fat">Fat</label>
      <input type="number" name="recipe-fat" formControlName="recipeFat" />
      <label for="recipe-carbs">Carbs</label>
      <input type="number" name="recipe-carbs" formControlName="recipeCarbs" />
      <label for="recipe-fiber">Fiber</label>
      <input type="number" name="recipe-fiber" formControlName="recipeFiber" />
      <label for="recipe-protein">Protein</label>
      <input
        type="number"
        name="recipe-protein"
        formControlName="recipeProtein"
      />
    </div>

    <div>
      <label for="recipe-desc">Short Description</label>
      <input type="text" name="recipe-desc" formControlName="recipeDesc" />
    </div>

    <div>
      <label for="recipe-ing">Ingredients</label>
      <input type="text" name="recipe-ing" formControlName="recipeIng" />
    </div>
    <div>
      <label for="recipe-steps">Steps</label>
      <input type="text" name="recipe-steps" formControlName="recipeSteps" />
    </div>
  </section>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
