.recipe-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  padding-inline: 2rem;
}

.card {
  background-color: burlywood;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 240px;
}

.card header h2 {
  text-align: center;
}

footer {
  padding-block: 10px;
  display: flex;
  justify-content: center;
}

.details {
  padding: 5px;
  width: 100px;
  background-color: cadetblue;
  border-radius: 10px;
  border-color: blue;
}
