.wrapper {
  width: 60vw;
  margin-inline: 20vw;
  margin-top: 2rem;
}
.recipe-name {
  font-size: 2.2rem;
  text-align: center;
  margin-top: 0;
}

.top {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 20px;
}
img {
  width: 90%;
  border-radius: 10px;
}

.icon {
  width: 30px;
  height: 30px;
}

.details {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 0 1px;
  justify-content: space-between;
}

.details li {
  flex: 1;
}

.lable {
  color: red;
  margin-left: 0.3em;
  font-size: 1.6rem;
  font-weight: 600;
}

.value {
  font-size: 1.2rem;
}

.desc {
  font-size: 1.2rem;
}

.info {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  gap: 2px;
}

.info li {
  background-color: hsl(148, 100%, 15%);
  height: 50px;
  width: 50px;
  padding: 5px;
  text-align: center;
  color: hsl(75, 100%, 60%);
  font-size: 0.92rem;
}

.middle {
  display: grid;
  grid-template-columns: 50% 50%;
}

.middle ul {
  margin: 0;
}

h3 {
  font-size: 1.5rem;
}

.ingredient {
  margin-block: 5px;
  width: 80%;
}
