.login {
  width: 500px;
  margin: auto;
  margin-block: 20px;

  .login-header {
    text-align: center;
    color: hsl(148, 100%, 15%);
  }

  .login-header h1 {
    margin: 0;
  }

  .login-cred {
    display: grid;
    justify-content: center;
    margin-block: 20px;
  }

  .login-submit {
    margin-top: 10px;
    width: 100px;
    justify-self: center;
    padding: 10px 10px;
    color: hsl(75, 100%, 60%);
    background-color: hsl(148, 100%, 15%);
    font-size: 18px;
    border-radius: 5px;
    border: none;
  }

  .login-submit:hover {
    cursor: pointer;
    background-color: hsl(120, 100%, 25%);
    color: hsl(148, 100%, 5%);
  }

  form input {
    width: 250px;
  }
}
