<nav class="navbar">
  <header [routerLink]="['/']" class="nav-title">Good Food</header>
  <div class="search-container">
    <div class="searchbar">
      <input
        (keydown.enter)="searchRoute(search.value)"
        type="text"
        class="search"
        [(ngModel)]="searchParam"
        name="searchParam"
        (ngModelChange)="handleSearch($event)"
        #search
        (blur)="onBlur()"
        placeholder="What recipe are you looking for?"
      />
      <button
        type="button"
        class="search-button"
        (click)="searchRoute(search.value)"
      >
        <img src="/assets/svg/search-svgrepo-com.svg" />
      </button>
    </div>
    <ul
      [ngClass]="
        search.value.length < 3
          ? 'autosuggest-results-hide'
          : 'autosuggest-results'
      "
    >
      @for(recipe of searchRes; track recipe.id){
      <li class="autosuggest-item" [routerLink]="['/recipe/', recipe.id]">
        {{ recipe.recipe_name }}
      </li>
      }
    </ul>
  </div>
  <ul class="nav-right">
    <li class="login-btn" (click)="login.showModal()">Login</li>
    <li class="register-btn" (click)="register.showModal()">Register</li>
    <!--<li class="profile">
      <div class="profile-circle">
        <img src="/assets/svg/profile-round-1342-svgrepo-com.svg" alt="" />
      </div>
    </li>-->
  </ul>
</nav>

<dialog #login class="login-dialog">
  <button (click)="login.close()" class="close-btn">X</button>
  <app-login></app-login>
  <footer>
    <span
      >Don't have an account yet?
      <strong (click)="register.showModal(); login.close()"
        >Register</strong
      ></span
    >
  </footer>
</dialog>

<dialog #register class="register-dialog">
  <button (click)="register.close()" class="close-btn">X</button>
  <app-register></app-register>
  <footer>
    <span
      >Have an account?
      <strong (click)="login.showModal(); register.close()">Login</strong></span
    >
  </footer>
</dialog>
