<nav class="navbar">
  <header class="nav-title">Good Food</header>
  <div class="search-container">
    <div class="searchbar">
      <input
        (keydown.enter)="searchRoute(search.value)"
        type="text"
        class="search"
        [(ngModel)]="searchParam"
        name="searchParam"
        (ngModelChange)="handleSearch($event)"
        #search
        (blur)="onBlur()"
        placeholder="What recipe are you looking for?"
      />
      <button
        type="button"
        class="search-button"
        (click)="searchRoute(search.value)"
      >
        <img src="/assets/svg/search-svgrepo-com.svg" />
      </button>
    </div>
    <ul
      [ngClass]="
        search.value.length <= 3
          ? 'autosuggest-results-hide'
          : 'autosuggest-results'
      "
    >
      @for(recipe of searchRes; track recipe.id){
      <a class="autosuggest-item" [routerLink]="['/recipe/', recipe.id]">
        <li>{{ recipe.name }}</li>
      </a>
      }
    </ul>
  </div>
  <ul class="nav-buttons">
    <li [routerLink]="['/new-recipe']">New Recipe</li>
  </ul>
</nav>
